# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science.
* List of data science tools used by data scientists.
* Some of the commonly used libraries by data sientists.
* Evaluating arithmetic expressiions.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. ggplot
3. seaborn
4. pyplotlib
5. Scipy
6. Numpy

| Data Science Tools |
| ------------------ |
|  Jupyter Notebook  |
|  Jupyter Lab       |
|  R studio          |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# his will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Waqas Ahmed